package resources

import (
  "github.com/hashicorp/terraform/helper/schema"
  "log"
  "strings"
  "strconv"
)

{{template "resource" .}}
{{template "resource_get" .}}
{{template "resource_set" .}}
{{template "key_get" .}}
{{template "actions" .}}